<!DOCTYPE html>
<html lang='<%- session.lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Productos'}) %>
<!-- body class="background-productos"-->
<body>
    <%- include('../template/navbar', {session, option:'Productos'}) %>

    <main class="principal">
        <div class="contenedor grid-main">
            <div class="contenedor-titulo">
                <h2 class="text-center">Cargue productos</h2>
            </div>

            <form action="productos" method="post" class="formulario" enctype="multipart/form-data" id='products-form'>
                <div class="form-control">
                    <input type="file" id="file_btn" name="file_csv" class="btn-subir">
                </div>
                <div class="btn-enviar mt-5">
                    <input type="submit" value="Cargar">
                </div>
            </form>
        </div>
    </main>

    <%- include('../template/scripts') %>
    <% if( typeof response != 'undefined' ){ %>
        <script>
            let value = ejs.render('<%= response.success %>') == 1 ? 'success' : 'error';
            let msj = ejs.render('<%= response.msj %>');

            toastr[value](msj);
        </script>
    <% } %>
        
    <script>
        $(document).ready( ()=>{
            $('#products-form').submit( (e)=>{
                if( !$('#file_btn').val() ){
                    toastr.warning('Favor, suba un archivo csv antes.');
                    e.preventDefault();
                }
            });
        });
    </script>
</body>
</html>