<!DOCTYPE html>
<html lang='<%- session.lang %>'>
    <%- include('../template/cabezal', {title: 'Shopping Mall - Reporte de Clientes'}) %>
    <body>
        <%- include('../template/navbar', {session, option: 'reportes'}) %>           
        <section class="">
            <div class="contenedor">
                <div class="contenedor-titulo">
                    <h2 class="text-center">Sede <span> <%= session.ubication %></span></h2>
                    <h3 class="text-center">Listado de clientes</span></h3>
                </div>
                <section class="botones__reportes">
                    <div class="listado__clientes">
                        <button class="boton-reportes" role="link" onclick="window.location='reportesclientes'">Listado de clientes</button>
                    </div>
                    <div class="ventas__clientes">
                        <button class="boton-reportes" role="link" onclick="window.location='reportesventas'">Ventas por cliente</button>
                    </div>
                </section>
            </div>
            <main class="contenedor">
                <section class="contenedor__tabla">
                    <!-- Inicia Encabezados de tabla -->
                    <div class="tabla__header"><p>Cédula</p></div>
                    <div class="tabla__header"><p>Nombre</p></div>
                    <div class="tabla__header"><p>Correo</p></div>
                    <div class="tabla__header"><p>Dirección</p></div>
                    <div class="tabla__header"><p>Teléfono</p></div>
                    <!-- Finaliza encabezados de tabla -->
                    <% if(arrayClients.length >0){ %> <% arrayClients.forEach(client =>{ %> 
                    
                    <div class="tabla__item"><p><%= client.id_number %> </p></div>
                    <div class="tabla__item"><p><%= client.name %></p></div>
                    <div class="tabla__item"><p><%= client.email %></p></div>
                    <div class="tabla__item"><p><%= client.address %></p></div>
                    <div class="tabla__item"><p><%= client.phone %></p></div>
                        
                    <% }) %> <% } %>

                </section>
            </main>
        </section>
        <%- include('../template/footer') %>
        <%- include('../template/scripts.ejs') %>
    </body>
    </html>